@media(max-width: 367px) {
    h1 {
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 44px;
    }

    h2 {
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 40px;
    }

    h3 {
        font-family: "Economica", sans-serif;
        font-weight: bold;
        font-size: 32px;
    }

    .sizepx24 {
        font-size: 16px;
    }

    .responsiveDelete {
        display: none;
    }

    .content-container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header img {
        width: 40px;
        height: 40px;
    }

    .landing-page span {
        font-size: 16px;
    }

    .order {
        margin-top: 72px;
    }

    .select {
        flex-direction: column;
    }

    .meal-images {
        width: 250px;
        height: auto;
    }

    .tonkotsu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .spicy-miso {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .shio {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .footer {
        height: 86px;
    }

    #footer-logo {
        display: none;
    }

    #footer-responsive-logo {
        display: block;
    }

    .mobile-logo {
        background-image: url(./img/sakura_logo.png);
        height: 40px;
    }

    .social-media {
        gap: 8px;
    }

    .social-media img {
        width: 32px;
        height: 32px;
    }
}