@media(max-width: 768px) {
    h1 {
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 72px;
    }

    h2 {
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 64px;
    }

    h3 {
        font-family: "Economica", sans-serif;
        font-weight: bold;
        font-size: 32px;
    }

    .responsiveDelete {
        display: none;
    }
}