@media(max-width: 960px) {
    .responsiveDelete {
        display: none;
    }
}

@media(max-width: 768px) {
    h1 {
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 72px;
    }

    h2 {
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 64px;
    }

    h3 {
        font-family: "Economica", sans-serif;
        font-weight: bold;
        font-size: 32px;
    }

    .sizepx24 {
        font-size: 20px;
    }

    .content-container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .landing-page span {
        font-size: 20px;
    }

    .order {
        margin-top: 96px;
    }

    .meal-images {
        width: 250px;
        height: auto;
    }

}

@media(max-width: 679px) {
    .select {
        flex-direction: column;
    }

    .tonkotsu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .spicy-miso {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .shio {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    #footer-logo {
        display: none;
    }

    #footer-responsive-logo {
        display: block;
    }

    .mobile-logo {
        background-image: url(./img/sakura_logo.png);
        height: 40px;
    }
}